@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet style="display:none;position:fixed;bottom:0;width:100%;background:#b32121;color:white;padding:0.5rem 1rem;z-index:1000">
    An unhandled error has occurred.
    <a href="." style="color:white;text-decoration:underline">Reload</a>
</div>
